<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>host</title>
    <style>
        .hide {
            display: none;
        }

        .shade {
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background: gray;
            opacity: 0.6;
            z-index: 99;
        }

        .add-modal, .edit-modal {
            position: fixed;
            height: 300px;
            width: 400px;
            top: 100px;
            left: 50%;
            z-index: 100;
            border: 1px solid red;
            background: white;
            margin-left: -200px;
        }
    </style>
</head>
<body>

<h1>list of hosts (object)</h1>
<div>
    <input id="add_host" type="button" value="add">
</div>
<table border="1">
    <thead>
    <tr>
        <th>index</th>
        <th>hostname</th>
        <th>IP</th>
        <th>port</th>
        <th>business name</th>
        <th>operation</th>
    </tr>
    </thead>
    <tbody>
    {% for row in v1 %}
        <tr hid="{{ row.id }}" bid="{{ row.business_id }}">
            <td>{{ forloop.counter }}</td>
            <td>{{ row.hostname }}</td>
            <td>{{ row.ip }}</td>
            <td>{{ row.port }}</td>
            <td>{{ row.business.caption }}</td>
            <td>
                <a class="edit">edit</a> &nbsp;|&nbsp; <a class="delete">delete</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<h1>list of hosts (dict)</h1>
<table border="1">
    <thead>
    <tr>
        <th>hostname</th>
        <th>business name</th>
    </tr>
    </thead>
    <tbody>
    {% for row in v2 %}
        <tr hid="{{ row.id }}" bid="{{ row.business_id }}">
            <td>{{ row.hostname }}</td>
            <td>{{ row.business__caption }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<h1>list of host (tuple)</h1>
<table border="1">
    <thead>
    <tr>
        <th>hostname</th>
        <th>businessname</th>
    </tr>
    </thead>
    <tbody>
    {% for row in v3 %}
        <tr hid="{{ row.0 }}" bid="{{ row.2 }}">
            <td>{{ row.1 }}</td>
            <td>{{ row.3 }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>


<div class="shade hide"></div>

<div class="add-modal hide">
    <form id="add_form" method="POST" action="/host">
        <div class="group">
            <label for="host"></label><input id="host" type="text" placeholder="host name" name="hostname">
        </div>
        <div class="group">
            <label for="ip"></label><input id="ip" placeholder="ip address" name="ip">
        </div>
        <div class="group">
            <label for="port"></label><input id="port" placeholder="port" name="port">
        </div>
        <div class="group">
            <label for="sel"></label>
            <select id="sel" name="business_id">
                {% for op in business_list %}
                    <option value="{{ op.id }}">{{ op.caption }}></option>
                {% endfor %}
            </select>
        </div>

        <label>
            <input type="submit" value="submit">
        </label>
        <a id="ajax_submit">ajax_submit</a>
        <input class="cancel" type="button" value="cancel">
        <span id="erro_msg" style="color: red"></span>
    </form>
</div>

<div class="edit-modal hide">
    <form id="edit_form" method="POST" action="/host">
        <input type="text" name="id" style="display: none">
        <input type="text" name="hostname" placeholder="hostname">
        <input type="text" name="ip_address" placeholder="ip address">
        <input type="text" name="port" placeholder="port">
        <select name="business_id">
            {% for op in business_list %}
                <option value="{{ op.id }}">{{ op.caption }}</option>
            {% endfor %}
        </select>
        <a id="ajax_submit_edit">confirm</a>
        <input style="display: none" type="submit" value="submit">
        <input class="cancel" type="button" value="cancel">
    </form>
</div>

<script src="/static/jquery-1.12.4.js"></script>
<script>
    $(function () {
        $('#add_host').click(function () {
            $('.shade, .add-modal').removeClass('hide');
        });

        $('.cancel').click(function () {
            $('.shade, .add-modal, .edit-modal').addClass('hide');
        });

        $('#ajax_submit').click(function () {
            $.ajax({
                url: "/test_ajax",
                type: 'POST',
                data: $('#add_form').serialize(),
                success: function (data) {
                    var obj = JSON.parse(data);
                    if (obj.status) {
                        location.reload();
                    } else {
                        $('#erro_msg').text(obj.error)
                    }

                }
            })
        });

        $('.edit').click(function () {
            $('.shade, .edit-modal').removeClass('hide');
            var bid = $(this).parent().parent().attr('bid');
            var hid = $(this).parent().parent().attr('hid');

            $('#edit_form').find('select').val(bid);
            $('#edit_form').find('input[name="nid"]').val(hid);
        });
    })
</script>
</body>

</html>