<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/login/" method="POST" enctype="multipart/form-data">
    <p>
        <label>
            <input type="text" name="user" placeholder="username">
        </label>
    </p>

    <p>
        <label>
            <input type="password" name="password" placeholder="password">
        </label>
    </p>

    <p>
    <div>
        <label>
            <input type="radio" name="gender" value="1"> male
        </label>
    </div>
    <div>
        <label>
            <input type="radio" name="gender" value="2"> female
        </label>
    </div>
    <div>
        <label>
            <input type="radio" name="gender" value="3"> zhangyang
        </label>
    </div>

    <p>
    <div>
        <label>
            <input type="checkbox" name="favor" value="11"> male
        </label>
    </div>
    <div>
        <label>
            <input type="checkbox" name="favor" value="22"> female
        </label>
    </div>
    <div>
        <label>
            <input type="checkbox" name="favor" value="33"> zhangyang
        </label>
    </div>

    <p>
    <div>
        <label>
            <select name="city" multiple>
                <option value="sh">Shanghai</option>
                <option value="bj">Beijing</option>
                <option value="tj">Tianjin</option>
            </select>
        </label>
    </div>

    <p>
    <div>
        <input type="file" name="file01">
    </div>

    <p>
    <div>
        <input type="submit" value="submit">
    </div>
</form>


</body>

</html>