<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/commons.css"/>
    <style>
        .pg-header {
            height: 90px;
            background-color: seashell;
            color: green;
        }
    </style>
    {% block css %} {% endblock %}
</head>
<body>
<div class="pg-header">little boy management</div>
<div>
    <a>asdf</a>
    <a id="">asdf</a>
    <a>asdf</a>
    <a>asdf</a>
    <a>asdf</a>
</div>

{% block body %} {% endblock %}

{% block js %} {% endblock %}

</body>
</html>