{% extends 'master.html' %}
{% load xxoo %}

{% block title %}
    xxoo
{% endblock %}
<link rel="stylesheet" href="/static/commons.css">

{% block body %}
    {{ name }}
    <br>

    {{ name|lower }}
    <br>
    {# shoud not be leave blank space between filter and args #}
    {# e.g. don'ts name|truncatechars: 3 #}
    {#    e.g. name|truncatechars:3 #}
    {{ name|truncatechars:3 }}
    <br>

    {% houyafan 2 5 6 %}
    <br>

    {{ "maliya" | jiajingze:30 }}
{% endblock %}

{% block js %}
    <script></script>
{% endblock %}