<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>chekache</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="../static/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>

</head>



<body>
<!--板块一-->
<div class="section b-section1">
    <div class="b-our-heard">
        <div class="container">
            <div class="row b-our-1">
                <!--头部-->
                <div class="b-top">
                    <div class="col-md-6 b-left">
                        <a href="index.html">CHEKAWA</a>
                    </div>
                    <div class="col-md-6 b-right">
                        <a href="#">资料下载</a>
                    </div>
                </div>
                <!--导航-->
                <div class="b-nav">
                    <ul>
                        <li class="col-md-3">
                            <a class="b-active" href="#">寺院</a>
                        </li>
                        <li class="col-md-3">
                            <a href="./product.html">村庄</a>
                        </li>
                        <li class="col-md-3">
                            <a href="#">输入法</a>
                        </li>
                        <li class="col-md-3">
                            <a href="#">软件开发</a>
                        </li>
                    </ul>
                </div>
                <!--bottom img-->
                <div class="b-top-bottom">
                    <div class="b-img">
                        <a href="#"> <img src="../static/img/5.png" alt="img"/> </a>
                    </div>
                    <div class="b-text">chekawa app</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--板块二-->

<div class="section b-section2">
    <div class="b-section2-center">
        <div class="container">
            <div class="row">
                <div class="b-top-title clearfix">
                    <div class="b-title-name">标题标题标题标题</div>
                    <div class="b-des">描述描描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述
                        描述描述描述描述描述描述描述描述描述描述述描述描述描述描述描述描描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述 述描述描述描述描述描述描述描述
                    </div>
                </div>
                <div class="index-row our-item1 clearfix">
                    <div class="col-md-6">
                        <div class="our-section2-item">
									<span class="b-img" aria-hidden="true">
                       <img src="../static/img/5.png" alt="img"/>
                    </span>

                            <h3 class="title">试测试测试测试</h3>
                            <p class="b-des">描描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述
                                描述描述描述描述描述描述描述描述描述描述述描述描述描述描述描述描描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述 述描述描述描述描述描述描述
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="our-section2-item">
									<span class="b-img" aria-hidden="true">
                       <img src="../static/img/5.png" alt="img"/>
                    </span>

                            <h3 class="title">试测试测试测试</h3>
                            <p class="b-des">描描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述
                                描述描述描述描述描述描述描述描述描述描述述描述描述描述描述描述描描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述 述描述描述描述描述描述描述
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--板块三-->
<div class="b-section3">
    <div class="container">
        <div class="row">
            <div class="b-com clearfix">
                <div class="b-title">标题标题标题标题标题标题</div>
                <div class="b-center-img">
                    <img src="../static/img/5.png" alt=""/>
                </div>
                <div class="b-des">
                    描述描述描述描述描述描述描述描述描述描述描述描述 描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述 描述描述描述描述描述描述描述描述描述描述描述描述
                    描述描述描述描述描述描述描述描述描述描述描述描述v描述描述描述

                </div>
            </div>
        </div>
    </div>
</div>
<!--板块四-->
<div class="b-section4">
    <div class="container">
        <div class="row">
            <div class="b-com clearfix">
                <div class="b-title">标题标题标题标题标题标题</div>
                <div class="b-center-img">
                    <img src="../static/img/5.png" alt=""/>
                </div>
                <div class="b-bottom clearfix">
                    <div class="col-md-6">
                        <div class="b-left-des">
                            <p>描描述描述描描述描述描述描述描述描述描述描述描述描 述描述描述描述描述描述描述描述 述描述描述描述描述述描述描述描述描述述描述描述描述描述述描述描述描述描述述描述描述描述描述
                                述描述描述描述描述述描述描述描述描述述描述描述描述描述述描述描述描述描述 述描述描述描述描述述描述描述描述描述述描述描述描述描述 述描述描述描述描述述描述描述描述描述
                                述描述描述描述描述述描述描述描述描述述描述描述描述描述述描述描述描述描述描述描述描述 描述述描述描述描述描述描述描述描述描述述
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="b-top-img">
                            <img src="../static/img/5.png" alt=""/>
                        </div>
                        <div class="b-right-title">标题标题标题</div>
                        <div class="b-right-des">描述描述描述描述描述描述描述秒但是扫描描述</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--板块五-->
<div class="b-section5">
    <div class="b-top-container">
        <div class="container">
            <div class="row">
                <div class="b-com clearfix">
                    <div class="b-title">标题标题标题标题标题标题</div>
                    <div class="b-des">
                        描述描述描述描述描述描述描述描述描述描述描述描述 描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述 描述描述描述描述描述描述描述描述描述描述描述描述
                        描述描述描述描述描述描述描述描述描述描述描述描述v描述描述描述

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="b-center-img">
        <img src="../static/img/2.jpg" alt=""/>
    </div>
</div>

<!--板块六-->
<div class="b-section6">
    <div class="container">
        <div class="row">
            <div class="b-bottom clearfix">
                <div class="col-md-6">
                    <div class="b-left-title">标题标题标题标题标题</div>
                    <div class="b-left-des">
                        <p>描描述描述描描述描述描述描述描述描述描述描述描述描 述描述描述描述描述描述描述描述 述描述描述描述描述述描述描述描述描述述描述描述描述描述述描述描述描述描述述描述描述描述描述
                            述描述描述描述描述述描述描述描述描述述描述描述描述描述述描述描述描述描述 述描述描述描述描述述描述描述描述描述述描述描述描述描述 述描述描述描述描述述描述描述描述描述
                            述描述描述描述描述述描述描述描述描述述描述描述描述描述述描述描述描述描述描述描述描述 描述述描述描述描述描述描述描述描述描述述
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="b-top-img">
                        <img src="../static/img/5.png" alt=""/>
                    </div>
                    <div class="b-right-title">标题标题标题</div>
                    <div class="b-right-des">描述描述描述描述描述描述描述秒但是扫描描述</div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--板块七-->
<div class="b-section7">
    <div class="container">
        <div class="row">
            <div class="b-left-title">标题标题标题标题标题</div>

            <div class="b-bottom clearfix">
                <div class="col-md-6">
                    <div class="b-left-des">
                        描描述描述描描述描述描述描述描述描述描述 述描述述描述描述描述描述 述描述描述描述描述述描述描描 述述描述描述描述描述述描述描述描述描述述描述描述描述 描述描述描述描述
                        描述述描述描述描述描述描述描述描述描述述

                    </div>
                    <div class="b-left-img">
                        <img src="../static/img/5.png" alt=""/>

                    </div>
                    <div class="b-left-small-title">标题标题标题标题</div>
                    <div class="b-left-small-des">描述描述秒描述秒是默哀给额描述</div>

                </div>
                <div class="col-md-6">
                    <div class="b-right-des">描述描述描描述描述描述描述描述描述描述秒但是 扫描描述描述描述描述描述描述描述描述秒但是扫描描述描述描述描述描述描述
                        描述描述秒但是扫描描述描述描述描述描述描述描述描述秒但是扫描描述描述描 述描述描述描述描述描述秒但是扫描描述描述描述描述描述描述描述描述秒但是
                        扫描描述描述描述描述描述描述描述描述秒但是扫描描述描述描述描述描述描述描 述描述秒但是扫描描述描述描述描述描述描述描述描述秒但是扫描 描述述描述描述描述描述秒但是扫描描述
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--板块八-->
<div class="b-section8">
    <div class="container">
        <div class="row">
            <div class="b-com-com col-md-5 clearfix">
                <div class="b-title">标题标题标题</div>
                <div class="b-des">
                    描述描述描述买哦啊买送是蔑视描述描述
                </div>
                <div class="b-button"><a href="#">了解更多</a></div>
            </div>
        </div>
    </div>
</div>
<!--板块9-->
<div class="b-section9">
    <div class="b-top-container">
        <div class="container">
            <div class="row">
                <div class="b-com clearfix">
                    <div class="b-title">标题标题标题标题标题标题</div>
                    <div class="b-des">
                        描述描述描述描述描述描述描述描述描述描述描述描述 描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述 描述描述描述描述描述描述描述描述描述描述描述描述
                        描述描述描述描述描述描述描述描述描述描述描述描述v描述描述描述

                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
</body>

</html>